apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fireflyiii
  namespace: fireflyiii
spec:
  interval: 15m
  chart:
    spec:
      chart: fireflyiii
      version: 30.17.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  
  values:
    resources:
      requests:
        cpu: 25m
        memory: 200Mi
      limits:
        cpu: 500m
        memory: 500Mi
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # ACTUAL_OPENID_DISCOVERY_URL: 'https://auth.${DOMAIN_0}'
                # ACTUAL_OPENID_CLIENT_ID: ${ACTUAL_OIDC_CLIENT_ID}
                # ACTUAL_OPENID_CLIENT_SECRET: ${ACTUAL_OIDC_CLIENT_SECRET}
                # ACTUAL_OPENID_SERVER_HOSTNAME: 'https://actual.${DOMAIN_0}'
                # ACTUAL_OPENID_AUTH_METHOD: oauth2
                # ACTUAL_TOKEN_EXPIRATION: "openid-provider"
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          annotations:
            # nginx.ingress.kubernetes.io/auth-method: 'GET'
            # nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
            # nginx.ingress.kubernetes.io/auth-signin:  "https://auth.${DOMAIN_0}/?rd=$scheme://$host$request_uri"
            # nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          integrations:
            nginx:
              enabled: true
            #   auth:
            #     type: "authelia"
            #     internalHost: "authelia.authelia.svc.cluster.local:9091"
            #     externalHost: "auth.${DOMAIN_0}"
            # traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            # homepage:
            #   enabled: true
            #   group: Tools
            #   widget:
            #     enabled: false
          hosts:
            - host: firefly.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
