apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: invidious
  namespace: invidious
spec:
  interval: 15m
  chart:
    spec:
      chart: invidious
      version: 12.12.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # image:
      # repository: ghcr.io/iv-org/invidious
      # tag: rolling
      # pullPolicy: Always
    # resources:
    #   requests:
    #     cpu: 25m
    #     memory: 200Mi
    #   limits:
    #     cpu: 500m
    #     memory: 500Mi
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          annotations:
            nginx.ingress.kubernetes.io/proxy-buffering: "off"
            nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
            nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          integrations:
            nginx:
              enabled: true
              # auth:
              #   type: "authelia"
              #   internalHost: "authelia.authelia.svc.cluster.local:9091"
              #   externalHost: "auth.${DOMAIN_0}"
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            # homepage:
            #   enabled: true
            #   group: Onsight Users Only
            #   widget:
            #     enabled: false
          hosts:
            - host: yt.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    # service:
      # main:
      #   type: LoadBalancer
      #   loadBalancerIP: ${invidious_IP}
      #   ports:
      #     main:
      #       port: 7878 # Default invidious port
      #   annotations:
      #     kubectl.kubernetes.io/restartedAt: "2025-03-01T12:34:56Z"
    persistence:
      media:
        enabled: true
        type: nfs
        path: /mnt/playground/media
        mountPath: "/Media"
        server: 192.168.1.98


