apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actualserver
  namespace: actualserver
spec:
  interval: 15m
  chart:
    spec:
      chart: actualserver
      version: 15.1.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  
  values:
    workload:
      main:
        replicas: 2
        strategy: RollingUpdate     
        podSpec:
          terminationGracePeriodSeconds: 45
          containers:
            main:
              env:
                # ACTUAL_OPENID_DISCOVERY_URL: 'https://auth.${DOMAIN_0}'
                # ACTUAL_OPENID_CLIENT_ID: ${ACTUAL_OIDC_CLIENT_ID}
                # ACTUAL_OPENID_CLIENT_SECRET: ${ACTUAL_OIDC_CLIENT_SECRET}
                # ACTUAL_OPENID_SERVER_HOSTNAME: 'https://actual.${DOMAIN_0}'
                # ACTUAL_OPENID_AUTH_METHOD: oauth2
                # ACTUAL_TOKEN_EXPIRATION: "openid-provider"
              probes:
                startup:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    periodSeconds: 2
                    failureThreshold: 300 
                readiness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 5
                    periodSeconds: 5
                    timeoutSeconds: 2
                    failureThreshold: 3
                liveness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 60
                    periodSeconds: 10
                    timeoutSeconds: 2
                    failureThreshold: 3
    resources:
      requests:
        cpu: 25m
        memory: 200Mi
      limits:
        cpu: 500m
        memory: 500Mi
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          annotations:
            # nginx.ingress.kubernetes.io/auth-method: 'GET'
            # nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
            # nginx.ingress.kubernetes.io/auth-signin:  "https://auth.${DOMAIN_0}/?rd=$scheme://$host$request_uri"
            # nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          integrations:
            nginx:
              enabled: true
              auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_0}"
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            # homepage:
            #   enabled: true
            #   group: Tools
            #   widget:
            #     enabled: false
          hosts:
            - host: actual.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    # service:
    #   main:
    #     type: LoadBalancer
    #     loadBalancerIP: ${ACTUALSERVER_IP}
    #     ports:
    #       main:
    #         port: 13378 # Default sonarr port
        # annotations:
        #   metallb.universe.tf/allow-shared-ip: "true"
    # persistence:
    #   media:
    #     enabled: true
    #     type: nfs
    #     path: /mnt/playground/media
    #     mountPath: "/Media"
    #     server: 192.168.1.98

