apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia
data:
  configuration.yaml: |
    server:
        buffers:
          read: 16384
          write: 16384
    theme: auto
    totp:
      issuer: ${DOMAIN_0}
    authentication_backend:
      ldap:
        implementation: lldap
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: "dc=homelab,dc=home"
        user: uid=admin,ou=people,dc=homelab,dc=home
        password: ${LLDAP_PASSWORD}
    access_control:
      default_policy: 'deny'
      rules:
      - domain: radarr.${DOMAIN_0}
        resources:
          - ^/$
          - ^/ping$
        policy: bypass
        networks:
         - 127.0.0.0/8
         - 172.16.0.0/12
         - 172.17.0.0/16
         - 10.0.0.0/8
      # Added so that ABS app can bypass.
      - domain:
        - "abs.${DOMAIN_0}"
        policy: bypass
        resources:
          - "^/_nuxt/.*$"
          - "^/api([/?].*)?$"
          - "^/socket.io([/?].*)?$"
          - "^/ping([/?].*)?$"
          - "^/webapi([/?].*)?$"
          - "^/login([/?].*)?$"
          - "^/status([/?].*)?$"
          - "^/auth([/?].*)?$"
      # #Only allow me to access
      - domain: 
        - actual.${DOMAIN_0}
        subject:
        - ['group:actual-budget-users']
        policy: one_factor
        resources:
          - "^/.*$"
      # Role to allow access to immich
       - domain: 
        - immich.${DOMAIN_0}
        subject:
        - ['group:immich-users']
        policy: one_factor
        resources:
          - "^/.*$"

      # #Only allow certain people to access ARR stack
      - domain: 
        - bazarr.${DOMAIN_0}
        - profilarr.${DOMAIN_0}
        - prowlarr.${DOMAIN_0}
        - qbit.${DOMAIN_0}
        - radarr.${DOMAIN_0}
        - sonarr.${DOMAIN_0}
        subject:
        - ['group:mateys']
        policy: one_factor
        resources:
          - "^/.*$"
      - domain:
        - "abs.${DOMAIN_0}"
        - "kav.${DOMAIN_0}"
        - "mealie.${DOMAIN_0}"
        - "organizr.${DOMAIN_0}"
        policy: one_factor
        resources:
          - "^/.*$"
    session:
      cookies:
        - domain: '${DOMAIN_0}'
          authelia_url: 'https://auth.${DOMAIN_0}'
    regulation:
      find_time: 10m
      ban_time: 12h
    
    notifier:
      smtp:
        address: submissions://${SMTP_HOST}:465
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        sender: Authelia Admin <${SMTP_USER}>
        tls:
          server_name: ${SMTP_HOST}
    identity_providers:
      oidc:
        claims_policies:
          kavita_claims_policy:
            id_token:
              - email
              - email_verified
              - preferred_username
              - groups
        cors:
          endpoints: ["userinfo", "authorization", "token", "revocation", "introspection"]
          allowed_origins:
            - 'https://mealie.${DOMAIN_0}'
          allowed_origins_from_client_redirect_uris: true
        hmac_secret: "${AUTHELIA_HMAC_SECRET}"
        jwks:
          - algorithm: "RS256"
            use: "sig"
            key: |
              {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
        clients:
          - client_id: ${MEALIE_OIDC_CLIENT_ID}
            client_name: "Mealie"
            client_secret: ${MEALIE_OIDC_HASHED_CLIENT_SECRET}
            public: false
            authorization_policy: "one_factor"
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - "https://mealie.${DOMAIN_0}/login"
            grant_types:
              - 'authorization_code'
            response_types:
              - 'code'
            scopes:
              - 'openid'
              - 'email'
              - 'profile'
              - 'groups'
            consent_mode: implicit
            userinfo_signed_response_alg: "none"
            token_endpoint_auth_method: "client_secret_basic"
          - client_id: ${ABS_OIDC_CLIENT_ID}
            client_name: 'audiobookshelf'
            client_secret: ${ABS_OIDC_HASHED_CLIENT_SECRET}
            authorization_policy: 'one_factor'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://abs.${DOMAIN_0}/auth/openid/callback'
              - 'https://abs.${DOMAIN_0}/auth/openid/mobile-redirect'
              - 'audiobookshelf://oauth'
              - 'shelfplayer://oauth'
              - 'plappa://oauth'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            consent_mode: implicit
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'
          - client_id: ${ACTUAL_OIDC_CLIENT_ID}
            client_name: 'Actual'
            client_secret: ${ACTUAL_OIDC_HASHED_CLIENT_SECRET}
            public: false
            authorization_policy: 'one_factor'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://actual.${DOMAIN_0}/openid/callback'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            consent_mode: implicit
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'
          - client_id: ${KAVITA_OIDC_CLIENT_ID}
            client_name: 'Kavita'
            client_secret: ${KAVITA_OIDC_HASHED_CLIENT_SECRET}
            public: false
            authorization_policy: 'one_factor'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://kav.${DOMAIN_0}/signin-oidc'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
              - 'offline_access'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            consent_mode: implicit
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_post'
            claims_policy: kavita_claims_policy
          - client_id: ${IMMICH_OIDC_CLIENT_ID}
            client_name: 'immich'
            client_secret: ${IMMICH_OIDC_HASHED_CLIENT_SECRET}
            public: false
            authorization_policy: 'one_factor'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://immich.${DOMAIN_0}/auth/login'
              - 'https://immich.${DOMAIN_0}/user-settings'
              - 'app.immich:///oauth-callback'
              - https://immich.${DOMAIN_0}/api/oauth/mobile-redirect
            scopes:
              - 'openid'
              - 'profile'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            consent_mode: implicit
            token_endpoint_auth_method: 'client_secret_post'
