apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  interval: 5m
  chart:
    spec:
      chart: uptime-kuma
      version: 13.1.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    workload:
      main:
        replicas: 1
        strategy: RollingUpdate     
        podSpec:
          terminationGracePeriodSeconds: 45
          containers:
            main:
              probes:
                startup:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    periodSeconds: 2
                    failureThreshold: 300 
                readiness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 5
                    periodSeconds: 5
                    timeoutSeconds: 2
                    failureThreshold: 3
                liveness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 60
                    periodSeconds: 10
                    timeoutSeconds: 2
                    failureThreshold: 3
    global:
      stopAll: false
    resources:
      requests:
        cpu: 10m
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: uptime.${DOMAIN_0}
    metrics:
      main:
        enabled: false