apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
  annotations:
    fluxcd.io/reconcileAt: "2026-01-20T19:30:00Z"  
spec:
  # suspend: true 
  interval: 15m
  chart:
    spec:
      chart: qbittorrent
      version: 24.2.12
      # version: 22.5.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    resources:
      requests:
        cpu: 100m
        memory: 200Mi
      limits:
        cpu: 500m
        memory: 500Mi
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          # annotations:
          #   nginx.ingress.kubernetes.io/auth-method: 'GET'
          #   nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
          #   nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
          #   nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          integrations:
            nginx:
              enabled: true
              auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_0}"
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            homepage:
              enabled: true
              group: Arr Stack
              widget:
                enabled: false
          hosts:
            - host: qbit.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    service:
      # main:
      #   type: LoadBalancer
      #   loadBalancerIP: ${QBITTORRENT_IP}
      #   ports:
      #     main:
      #       port: 10095 # Default qbittorrent port
      torrent:
        enabled: true
        ports:
          torrent:
            enabled: true
            port: 49999
            protocol: tcp
    persistence:
      media:
        enabled: true
        type: nfs
        path: /mnt/playground/media
        mountPath: "/Media"
        server: 192.168.1.98
      config:
        enabled: true
        mountPath: "/config"
        targetSelectAll: true

    addons:
      # vpn:
      #   type: gluetun
      #   killSwitch: true
      #   excludedNetworks_IPv4:
      #     - "192.168.1.0/24"
      #   excludedNetworks_IPv6: []
      #   env:
      #     VPN_SERVICE_PROVIDER: "purevpn"
      #     VPN_TYPE: "openvpn"
      #     OPENVPN_USER: ${VPN_USERNAME}
      #     OPENVPN_PASSWORD: ${VPN_PASSWORD}
      #     SERVER_COUNTRIES: "Canada"
      gluetun:
        enabled: true
        container:
          env:
            # VPN_SERVICE_PROVIDER: "purevpn"
            # VPN_TYPE: "openvpn"
            # OPENVPN_USER: ${VPN_USERNAME}
            # OPENVPN_PASSWORD: ${VPN_PASSWORD}
            # SERVER_COUNTRIES: "Canada"
            FIREWALL: "on"
            # FIREWALL_DEBUG: "on"
            FIREWALL_OUTBOUND_SUBNETS: "192.168.1.0/24"
            #OPENVPN_PROTOCOL: tcp
            # HEALTH_CHECK_ADDRESS: google.com:443
            # VPN_SERVICE_PROVIDER: custom
            # VPN_TYPE: wireguard
            # WIREGUARD_ENDPOINT_IP: ${WIREGUARD_ENDPOINT_IP}
            # WIREGUARD_ENDPOINT_PORT: ${WIREGUARD_ENDPOINT_PORT}
            # WIREGUARD_PUBLIC_KEY: ${WIREGUARD_PUBLIC_KEY}
            # WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
            # WIREGUARD_ADDRESSES: ${WIREGUARD_ADDRESSES}

            VPN_SERVICE_PROVIDER: protonvpn
            VPN_TYPE: wireguard
            WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
            # WIREGUARD_ALLOWED_IPS: "0.0.0.0/0"
            FREE_ONLY: on
            DNS_KEEP_NAMESERVER: "off"
            DOT: "on"
            DNS_ADDRESS: "127.0.0.1"
            # Optional: keep IPv6 DNS off while troubleshooting
            # DOT_IPV6: "off"
            # WIREGUARD_MTU: "1280"


    # workload:
    #     main:
    #       podSpec:
    #         initContainers:
    #           initconfig:
    #             type: init
    #             enabled: true
    #             command: [ "sh", "/config/mam.sh" ]