apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
  namespace: mealie
spec:
  interval: 15m
  chart:
    spec:
      chart: mealie
      version: 26.24.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        replicas: 2
        strategy: RollingUpdate     
        podSpec:
          terminationGracePeriodSeconds: 45
          containers:
            main:
              probes:
                env:
                   OPENAI_API_KEY: ${MEALIE_OPENAI_API_KEY}
                startup:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    periodSeconds: 2
                    failureThreshold: 300 
                readiness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 5
                    periodSeconds: 5
                    timeoutSeconds: 2
                    failureThreshold: 3
                liveness:
                  enabled: true
                  type: http
                  path: /
                  spec:
                    initialDelaySeconds: 60
                    periodSeconds: 10
                    timeoutSeconds: 2
                    failureThreshold: 3
    mealie:         
      frontend:
        theme:
          light_primary: "#E58147"
      api:
        ldap:
          auth_enabled: true
          server_url: ldap://lldap-ldap.lldap.svc.cluster.local:3890
          base_dn: dc=homelab,dc=home
        oidc:
          auth_enabled: true
          signup_enabled: true
          configuration_url: 'https://auth.${DOMAIN_0}/.well-known/openid-configuration'
          client_id: ${MEALIE_OIDC_CLIENT_ID}
          client_secret: ${MEALIE_OIDC_CLIENT_SECRET}
          user_group: mealie-users
          admin_group: mealie-admin
          auto_redirect: true
          provider_name: "Authelia"
          remember_me: true
    ingress:
        main:
          enabled: true
          ingressClassName: internal
          integrations:
            nginx:
              enabled: true
              auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_0}"   
                responseHeaders:
                  - Remote-User
                  - Remote-Name
                  - Remote-Groups
                  - Remote-Email
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: mealie.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix